@charset "UTF-8";
@font-face {
    font-family:'Techno';
    src: url(../FONTS/Technoma.otf);
}

@font-face {
    font-family:'RobotoLight';
    src: url(../FONTS/Roboto-Light.ttf);
}

@font-face {
    font-family:'Roboto';
    src: url(../FONTS/Roboto-Bold.ttf);
}

@font-face {
    font-family:'Tagon';
    src: url(../FONTS/Tagon.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/closeup-computer-screen-software-developer-typing-programming-language-it-startup-agency-display-concept-system-engineer-writing-source-code-scrolling-text-database-functions-script.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-attachment: fixed;
}

body .menuindex,
.content {
    background-color: #154854;
}

/*MENU DE NAVEGAÇÃO*/

.menuindex {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuindex ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.menuindex ul li {
    justify-content: space-evenly;
    position: relative;
    padding-right: 4rem;
    animation-name: slideout;
    animation-duration: 2s;
}

.menuindex ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-family: 'Techno';
}

.menulogo img {
    width: 180px;
    height: 175px;
    animation-name: slidein;
    animation-duration: 2s;
}

.menulogo img:hover {
    width: 183px;
    height: 177px;
    transition: .3s;
}

.menuindex ul li a:hover {
    color: #dbc2cf;
    transition: .5s;
    font-size: 1.48rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}

@media (max-width: 700px) {

    body {
        background-image: url(../IMG/v627-aew-04-technologybackground.jpg);
    }

    .hamburger {
        display: block;
        z-index: 999;
    }

    .menuindex ul {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0px;
        z-index: 999;
        width: 50%;
        height: 100vh;
        background: #154854;
        padding: 30px;
        transition: 0.3s;
        flex-direction: column;
        justify-content: space-around;
        display: flex;
    }

    #nav_check:checked ~ .menuindex ul {
        left: 0;
    }

    body .menuindex {
        background-color: #154854;
    }

    .menulogo img {
        display: block;
        width: 100px;
        height: 100px;
        padding-top: 0;
        padding: 5%;
    }

    .menulogo img:hover {
        width: 95px;
        height: 95px;
    }

    .menuindex {
        justify-content: space-around;
        padding: 3%;
        padding-bottom: 0;
        flex-direction: row;
    }

    .menuindex ul li {
        text-align: center;
        align-items: center;
        max-width: 100%;
        padding: .5rem;
        justify-content: space-evenly;
    }

    .menuindex ul li a {
        font-size: 1.3rem;
        margin: 5px 0;
    }

    .menuindex ul li a:hover {
        font-size: 1.35rem;
    }
}

/*PROJETOS*/

.projeto {
    background-color: #8fa998;
    align-items: center;
    display: flex;
    justify-content: center;
}

.projeto h1 {
    font-size: 3rem;
    padding: 1%;
    color: #fff;
    font-family: 'Tagon';
    letter-spacing: .08rem;
}

.projeto1 {
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
}

.projeto1 h2 {
    font-size: .9rem;
    color: #fff;
    padding: .5%;
    font-family: 'RobotoLight';
}

@media (max-width: 700px) {

    .projeto h1 {
        padding: 3%;
    }

    .projeto1 h2 {
        padding: 2%;
        font-size: .85rem;
        letter-spacing: .04rem;
    }

    .content {
        padding-top: 5%;
    }
}

/*CONTENT*/

.container {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 150px;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto';
  }
  
  .card-local {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Tagon';
    letter-spacing: .1rem;
  }
  
  .card-titulo {
    font-size: 10px;
  }
  
  .card-texto {
    font-size: 14px;
    width: 250px;
    margin: 0 auto;
    font-family: 'RobotoLight';
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #8fa998;
  }
  
  .card-1 .card-local {
    color: #154854;
  }
  
  .card-2 .card-footer {
    background-color: #8fa998;
  }
  
  .card-2 .card-local {
    color: #154854;
  }
  
  .card-3 .card-footer {
    background-color: #8fa998;
  }
  
  .card-3 .card-local {
    color: #154854;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }

/*Footer*/

footer {
    background-color: #154854;
    color: white;
    text-align: center;
    font-family: 'RobotoLight';
    padding: 15px;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: white
}

footer a:hover {
    color: #8fa998;
    transition: .3s;
}